/.vs/
/.idea/
/build/
/build-docker/
/build-debug-docker/
/test_results/
/external/
/submit.csv
*.nsys-rep
*.sqlite
*.tmp
*.log
__pycache__/
.ipynb_checkpoints/
FullBeamNice/weights/
FullBeamNice/generators.zip
