/.vs/
/.idea/
/build/
/build-docker/
/build-debug-docker/
/build-a100/
/build-a100-*/
/history/
/history-*/
/test_results/
/external/
/submit.csv
core.*
*.nsys-rep
*.sqlite
*.tmp
*.log
__pycache__/
.ipynb_checkpoints/
FullBeamNice/weights/
FullBeamNice/generators.zip
/services/cayleypy-results-ingest/staging-resources.private.json
/services/cayleypy-results-ingest/.staging-deploy-private/
